aiocache==0.10.1
aiomcache==0.6.0
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
crypto==1.4.1
cryptography==2.5
docopt==0.6.2
greenlet==0.4.15
idna==2.8
jwcrypto==0.6.0
jws==0.1.3
msgpack==0.6.0
Naked==0.1.31
pipreqs==0.4.9
pyasn1==0.4.5
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
python-jwt==3.2.4
PyYAML==5.4
requests==2.21.0
shellescape==3.4.1
six==1.12.0
tormysql==0.4.0
tornado==5.1.1
ujson==1.35
urllib3==1.24.1
yarg==0.1.9
