<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房间列表</title>
</head>
<body>
{% for each in room_info %}
    <div>
        <div>
            房间名:{{ each["room_name"] }}
            <button onclick="join('{{ each["uuid"] }}')">加入</button>
        </div>
        <div>房主:{{ each["owner"] }}</div>
        <div>创建时间:{{ each["build_time"] }}</div>
    </div>
{% end %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    function join(uuid) {
        $.post('/roomlist', {
            roomid: uuid
        }, function (data) {
            if(data.code==100){
                window.location.href = '/chat?ruuid='+uuid;
            }
            else{
                alert(data.msg)
            }
        }, 'json')
    }
</script>
</body>
</html>